html {
  font: normal 100%/1.5 Georgia,serif;
}

body{
  margin: 0;
  padding: 0;
}

header {
  background-color: #6cc2d9;
  padding: 1em 0 0px;
  text-align: center;
  color: white;
  position: relative;
  border-bottom: 8px solid #63b1c7;
}

h1{
  text-align: center;
  padding: 0 0 1rem;
  margin: 0 0 0rem;
  font-size: 1.5rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #4a8899;
  display: none;
  right: 0;
}

.nav a {
  display: block;
  text-decoration: none;
  text-align;
  color: white;
  padding: 6px 6px 6px 6px;
}

.nav a:hover {
  background-color: #333;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 10px;
  top: .7em;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.shell{
  width: 100%;
  margin: 0;
  padding: 0;
}

.quote{
  text-align: left;
  color: white;
  background-color: #6cc2d9;
  margin: 0;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

h2{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

h3{
  margin: 0;
  padding: 0;
  font-size: .75em;
}

div{
  margin: 0;
  padding: 0;
}

.about-box{
  background-image: url("../images/shell.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 3em;
}

.about-content{
  margin: 0;
  padding: 1.5rem 2rem 1.5rem 2rem;
  padding-top: 0em;
}

.about-title{
  color: #6cc2d9;
}

.about-body{
  color: white;
}

.about-text{
  display: table;
  width: 100%;
  table-layout: fixed;
}

div.about-text span{
  display: table-cell;
  text-align: center;
}

.left-top{
  text-align: center;
}

.right-top{
  text-align: center;
}

.center-top{
  text-align: center;
}
